<%- include('../partials/header.ejs') %>

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Form Elements</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="#!">Form Components</a></li>
                                <li class="breadcrumb-item"><a href="#!">Form Elements</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row justify-content-center align-middle">
                <!-- [ form-element ] start -->
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text text-center">Add Category</h5>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <form action="" method="post" enctype="multipart/form-data">

                                        <!-- PRODUCT NAME -->
                                        <div class="form-group mb-3">
                                            <label>Product Name</label>
                                            <input type="text" class="form-control" name="name"
                                                placeholder="Enter Product Name" required>
                                        </div>

                                        <!-- DESCRIPTION -->
                                        <div class="form-group mb-3">
                                            <label>Description</label>
                                            <textarea class="form-control" name="description" rows="3"
                                                placeholder="Enter Description"></textarea>
                                        </div>

                                        <!-- PRICE -->
                                        <div class="form-group mb-3">
                                            <label>Price</label>
                                            <input type="number" class="form-control" name="price"
                                                placeholder="Enter Price" required>
                                        </div>

                                        <!-- IMAGE -->
                                        <div class="form-group mb-3">
                                            <label>Image</label>
                                            <input type="file" class="form-control" name="image" required>
                                        </div>

                                        <!-- CATEGORY -->
                                        <div class="form-group mb-3">
                                            <label>Category</label>
                                            <select class="form-control" name="category" required>
                                                <option value="">Select Category</option>
                                                <% categories.forEach(cat=> { %>
                                                    <option value="<%= cat._id %>">
                                                        <%= cat.name %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Add Product</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    <!-- [ Main Content ] end -->
    <!-- Warning Section start -->
    <!-- Older IE warning message -->


    <%- include('../partials/footer.ejs') %>